<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Credentials</title>
    <link rel="stylesheet" href="/static/credentials.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Enter Your Azure Credentials</h1>
        </header>
        <main>
            <form id="credentialsForm" method="post" action="/run-command">
                <label for="clientId">Client ID:</label>
                <input type="password" id="clientId" name="clientId" required><br><br>
                <label for="clientSecret">Client Secret:</label>
                <input type="password" id="clientSecret" name="clientSecret" required><br><br>
                <label for="tenantId">Tenant ID:</label>
                <input type="password" id="tenantId" name="tenantId" required><br><br>
                <input type="hidden" name="azureCliCommand" id="azureCliCommand" value="{{ azureCliCommand}}">
                <button type="submit">Submit Credentials</button>
            </form>
        </main>
    </div>
    <script>
        document.getElementById('credentialsForm').addEventListener('DOMContentLoaded', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const command = urlParams.get('command');

            if (command) {
                const commandResultDiv = document.getElementById('commandResult');
                commandResultDiv.innerHTML = `${decodeURIComponent(command)}`;
                commandResultDiv.style.display = 'block'
            }

            document.getElementById('credentialsForm').addEventListener('submit', function(event) {
                event.preventDefault()
                const clientId = document.getElementById('clientId').value;
                const clientSecret = document.getElementById('clientSecret').value;
                const tenantId = document.getElementById('tenantId').value;

            })
            const credentials = {
                clientId: clientId,
                clientSecret: clientSecret,
                tenantId: tenantId,
                command: decodeURIComponent(command)
            };

            fetch('/run-command', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(credentials)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Command executed:', data);
                // Handle the response from running the command
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
