<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Credentials</title>
    <link rel="stylesheet" href="/static/credentials.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Enter Your Azure Credentials</h1>
        </header>
        <main>
            <form id="credentialsForm">
                <label for="clientId">Client ID:</label>
                <input type="password" id="clientId" name="clientId" required><br><br>
                <label for="clientSecret">Client Secret:</label>
                <input type="password" id="clientSecret" name="clientSecret" required><br><br>
                <label for="tenantId">Tenant ID:</label>
                <input type="password" id="tenantId" name="tenantId" required><br><br>
                <input type="hidden" name="azureCliCommand" id="azureCliCommand" required>
                <button type="submit">Submit Credentials</button>
            </form>
            
        </main>
    </div>
    <script>
        document.getElementById('credentialsForm').addEventListener('submit', async(event) => {
            event.preventDefault()
            document.getElementById('azureCliCommand').value = localStorage.getItem('azureCliCommand')
            const command = document.getElementById('azureCliCommand').value
            const clientId = document.getElementById('clientId').value;
            const clientSecret = document.getElementById('clientSecret').value;
            const tenantId = document.getElementById('tenantId').value;

            const credentials = {
                clientId: clientId,
                clientSecret: clientSecret,
                tenantId: tenantId,
                command: command
            };
            
            const respone = await fetch('/credentials', {
                method: 'POST',
                headers: {
                    'Content-Type': "application/json"
                },
                body: JSON.stringify(credentials)
            });
            window.location.href = '/result_page'; // or any route that maps to your result page

        });
    </script>
</body>
</html>
