<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/forgot_password.css">
</head>
<body>
   <div class="forgot-password-container">
    <h2>Reset Password</h2>
    <form id="resetForm">
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <br>
        <button type="submit">Send Password Reset Email</button>
        <div id="forgotPasswordResponse" class="error"></div>
    </form>
    <div class="spinner" id="loadingSpinner"></div>
   </div>
    <script>
        document.getElementById('resetForm').addEventListener('submit', async (event) => {
        event.preventDefault();
        document.getElementById('loadingSpinner').style.display = 'block'; 
        const formData = new FormData(event.target);
        const response = await fetch('/forgot_password', {
            method: 'POST',
            body: formData,
        })
        const data = await response.json();
        if (response.ok) {
            window.location.href = '/login';
        } else {
            document.getElementById('loadingSpinner').style.display = 'none';
            document.getElementById('forgotPasswordResponse').innerText = data.message;
        }
    });
    </script>
</body>
</html>
