<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Language to Azure CLI</title>
    <link rel="stylesheet" href="/static/homepage.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Natural Language to Azure CLI</h1>
            <a href="/logout" id="logoutButton" class="button">Logout</a>
        </header>
        <main>
            <form id="nlpForm">
                <label for="nlpInput">Enter your natural language prompt:</label>
                <textarea id="nlpInput" name="nlpInput" rows="4" cols="50" placeholder="Enter your prompt here..."></textarea>
                <button type="submit">Convert to Azure CLI Command</button>
            </form>
            <div id="result"> </div>
            <div id="optimizedCommandContainer" style="display: none;">
                <label for="optimizedCommand">Optimized Command:</label>
                <textarea id="optimizedCommand" name="optimizedCommand" rows="2" cols="50" placeholder="Enter your optimized command here..."></textarea>
            </div>
            <button id="runCommandButton" style="display: none;">Run Command</button></a>
        </main>
    </div>
    <script>
        document.getElementById('nlpForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission
            const nlpInput = document.getElementById('nlpInput').value;

            fetch('/convert', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ nlpInput: nlpInput })
            })
            .then(response => response.json())
            .then(data => {
                const resultDiv = document.getElementById('result');
                console.log(data.azureCliCommand)
                const escapedCommand = data.azureCliCommand.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                resultDiv.innerHTML = escapedCommand;
                document.getElementById('optimizedCommandContainer').style.display = 'block';
                document.getElementById('runCommandButton').style.display = 'block';

                document.getElementById('runCommandButton').addEventListener('click', function() {
                    const command = encodeURIComponent(escapedCommand);
                    window.location.href = `/credentials?command=${command}`
                });
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
