<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Cloud Management</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="login-container">
        <h2>Login to NLI2Cloud Management</h2>
        <form id="loginForm">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
            <br>
            <br>
            <a href="/forgot_password" class="forgot-password">Forgot Password?</a>
            <div id="loginResponse" class="error"></div>
            <p>Don't have an account? <a href="/signup">Signup</a></p>
        </form>
        <div class="spinner" id="loadingSpinner"></div>
    </div>
    <script>
        document.getElementById('loginForm').addEventListener('submit', async (event) => {
            event.preventDefault();
            document.getElementById('loadingSpinner').style.display = 'block';
            const formData = new FormData(event.target);
            const response = await fetch('/login', {
                method: "POST",
                body: formData
            })
            const data = await response.json();
            if (response.ok) {
                window.location.href = '/home';
            } else {
                document.getElementById('loadingSpinner').style.display = 'none';
                document.getElementById('loginResponse').innerText = data.message;
            }
        });
    </script>
</body>
</html>
